<section class="feedback">
  <div class="container">
    <h2 class="feedback__title"><span>Отзывы</span> клиентов о нашей работе</h2>
  </div>
    <div class="swiper feedback__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper feedback__slider-wrapper">
        <!-- Slides -->

        <div class="swiper-slide feedback__card">
          <div class="feedback__card-user">
            <img
              class="feedback__card-avatar"
              src="./assets/img/user-01.png"
              alt=""
            />
            <div class="feedback__card-user-info">
              <strong class="feedback__card-user-name">Михаил Трошин </strong>
              <span class="feedback__card-date">14 февраля 2021г. </span>
            </div>
          </div>
          <p class="feedback__card-text">
            Спасибо большое за волшебное отношение к моей собаки, очень
            отзывчивые сотрудники с классным походом к своему делу, теперь будем
            стричься только у них! Спасибо большое, все очень понравилась!!!
          </p>
        </div>

        <div class="swiper-slide feedback__card">
          <div class="feedback__card-user">
            <img
              class="feedback__card-avatar"
              src="./assets/img/user-02.png"
              alt=""
            />
            <div class="feedback__card-user-info">
              <strong class="feedback__card-user-name"
                >Татьяна Половечня</strong
              >
              <span class="feedback__card-date"> 20 марта 2022г. </span>
            </div>
          </div>
          <p class="feedback__card-text">
            Очень крутое место! Водили на груминг питомца, забрали не только
            красивого, а ещё и счастливого! Качественный сервис и искренняя
            доброта и забота о животных! От всего сердца рекомендую!
          </p>
        </div>
        <div class="swiper-slide feedback__card">
          <div class="feedback__card-user">
            <img
              class="feedback__card-avatar"
              src="./assets/img/user-01.png"
              alt=""
            />
            <div class="feedback__card-user-info">
              <strong class="feedback__card-user-name">Михаил Трошин </strong>
              <span class="feedback__card-date">14 февраля 2021г. </span>
            </div>
          </div>
          <p class="feedback__card-text">
            Спасибо большое за волшебное отношение к моей собаки, очень
            отзывчивые сотрудники с классным походом к своему делу, теперь будем
            стричься только у них! Спасибо большое, все очень понравилась!!!
          </p>
        </div>

        <div class="swiper-slide feedback__card">
          <div class="feedback__card-user">
            <img
              class="feedback__card-avatar"
              src="./assets/img/user-03.png"
              alt=""
            />
            <div class="feedback__card-user-info">
              <strong class="feedback__card-user-name">Юлия Безгласая</strong>
              <span class="feedback__card-date"> 14 ноября 2021г.</span>
            </div>
          </div>
          <p class="feedback__card-text">
            Сегодня привели на первую комплексную стрижку щенка ривера 6ти
            месяцев. Перед процедурой мастер Анна очень внимательно выслушала
            наши пожелания, дала советы и рекомендации. В салоне очень чисто,
            уютно, все продумано. Персонал очень доброжклательный, видно, что к
            животным относятся с любовью и нежностью) . Результатом от процедур
            и стрижки остались очень довольны! Наш щенок стал ещё красивее!
            Огромное спасибо Анне и персоналу салона! Однозначно рекомендую,
            уверена, что станем постоянными клиентами!!!
          
          </p>
        </div>
        <div class="swiper-slide feedback__card">
          <div class="feedback__card-user">
            <img
              class="feedback__card-avatar"
              src="./assets/img/user-02.png"
              alt=""
            />
            <div class="feedback__card-user-info">
              <strong class="feedback__card-user-name"
                >Татьяна Половечня</strong
              >
              <span class="feedback__card-date"> 20 марта 2022г. </span>
            </div>
          </div>
          <p class="feedback__card-text">
            Очень крутое место! Водили на груминг питомца, забрали не только
            красивого, а ещё и счастливого! Качественный сервис и искренняя
            доброта и забота о животных! От всего сердца рекомендую!
          </p>
        </div>

        
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination--feedback"></div>


      

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  
</section>
