<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__form">
        <form class="hero__form-content" action="">
          <input class="hero__form-input" type="text" placeholder="Ваше имя" />
          <input
            class="hero__form-input"
            type="text"
            placeholder="Имя питомца"
          />
          <textarea placeholder="Опишите, какую услугу желаете заказать." class="hero__form-input"></textarea>
          <input
            class="hero__form-input hero__form-input--phone"
            type="tel"
            placeholder="+7 921 591 84 24"
            maxlength="12"
          />
          <a href="#" class="hero__form-btn">ЗАПИСАТЬ ПИТОМЦА</a>
          <div class="hero__form-radio">
            <input type="radio" checked />
            <p>Я согласен на обработку данных</p>
          </div>
        </form>
      </div>
      <div class="hero__text">
        <h1 class="hero__title">Территория Красоты и здоровья</h1>
        <strong> Для кошек и собак </strong>
        <img src="./assets/img/hero-title.png" alt="" />
      </div>
    </div>
  </div>
</section>
