<section class="services">
  <div class="container">
    <h2 class="services__title"><span>услуги</span> для ваших питомцев</h2>
    <ul class="services__card-list">
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-01.png" alt="">
            <h3 class="services__card-name">Груминг для собак и щенков</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-02.png" alt="">
            <h3 class="services__card-name">Занятия с кинологом</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-03.svg" alt="">
            <h3 class="services__card-name">Груминг для кошек и котят</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-04.svg" alt="">
            <h3 class="services__card-name">Выгул собак/логист</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-05.svg" alt="">
            <h3 class="services__card-name">Ветеринарный кабинет</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-06.svg" alt="">
            <h3 class="services__card-name">Обучение</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-07.svg" alt="">
            <h3 class="services__card-name">SPA-уход</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-08.svg" alt="">
            <h3 class="services__card-name">Хендлер</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-09.svg" alt="">
            <h3 class="services__card-name">Зоогостиница</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-10.svg" alt="">
            <h3 class="services__card-name">Зоопсихолог</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-11.svg" alt="">
            <div class="services__card-price">
                <h3 class="services__card-name">Зоотакси</h3>
                <span>от 1500 &#8381;</span>
            </div>
            <p>Вызвать</p>
            <a class="services__card-btn services__card-btn--rotate" href="">
                <img src="./assets/img/card-btn-hover.svg" alt="">
            </a>
        </li>
        <li class="services__card-item">
            <img class="services__card-img" src="./assets/img/icon-12.svg" alt="">
            <h3 class="services__card-name">Зоомагазин</h3>
            <a class="services__card-btn" href="">
                <img src="./assets/img/card-btn.svg" alt="">
            </a>
        </li>
    </ul>
  </div>
</section>
